body
{
	font-family: 'Cabin', sans-serif;;
	color: white;
	background: #C33764;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div{
	width: 500px;
	margin: 100px auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
ul{
	padding: 0;
	margin: 0;
}
li{
	font-size: 20px;
	padding: 0;
	height: 60px;
	line-height: 60px;
	list-style: none;	
}
li:nth-child(2n)
{
	background-color:#725d75;
}
input{
	font-size: 20px;
	color: #0d93bf;
	margin: 0;
	padding: 0;
	height: 40px;
	width: 100%;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}
input : focus{
	background: black;
	outline: none;
}
ul span{
	width: 20px;
	display: inline-block;
	color: transparent;
	transition: 0.7s;
}
ul span:hover{
	width: 32px;
	padding-left: 8px; 
	color: white;
	background-color: red;
	color: white;
}

h1 span{
	margin-right: 3px;
	float: right;
	color: white;
}
h1{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-transform: uppercase;
	background-color: black;
	color: white;
	margin:0;
}
.li_click{
	color: white;
	text-decoration: line-through;
}
